body{
    background-color: rgb(238, 238, 238);
}
.userinfo {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding: 10px 0;
}
.users {
    display: grid;
    grid-template-columns: 15px 15px 15px;
    grid-template-rows: 5px 5px;
    
}
.searchUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}
.container {
    padding: 10px;
    margin: 3rem 0;
    background-color: rgb(238, 238, 238);
    text-align:start;
}
.search {   
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-top: 2vh;
    width: 100vw;
    min-height: 15vh;
    height: auto;
    background-color: #ffffff;
}

.search .text-link {
margin-left: 2.5em;

}
.comments {
    padding-bottom: 20px;
}
.post {
    background-color: #ffffff;
    margin: 20px 20px;
    padding-left: 2em;
    border-radius: 5px;
    width: 90%;
    height: auto;

} 
h6 {
    padding: 1em 0;
    color: rgb(46, 89, 155);
}
.description {
    margin: 20px;
}
h3 {
    text-align: center;
    color: #999797ab;
    font-family: 'open sans', sans-serif;
}
.html {
   display: flex;
   flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
}
.homepage {
    height: 80vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;

}
.searchPage input {
    /* width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
    margin-right: 20; */
}

.searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 1vh;
}
.searchbar {
    margin-top: -5vh;
}
.logo { 
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height:7vh;
    background-color: white;
    padding-right: 20px;
    padding-top: 10px;
    z-index: 2;
}
.logo-div {
    display: flex;
    flex-direction: row;
    position: fixed;

}
.flex {
    display: flex;
    flex-direction: column;
    
}
.scroll {
    margin: 5rem 0;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}